
.imagen {
  height: 100px;
}
header{
  display: flex;
  background-color: gold;
  padding: 20px;
}
/* Animacion header*/
header h1 {
  display: inline-block;
  margin: 0 0.5rem;
  animation: fadeInDown;
  animation-duration: 2s; 
}

.listaSuperior{
  background-color: gold;
  justify-content: center;
}
.botonIngreso{
  padding: 0.5rem;
  align-items: flex-end; 
  margin: auto;
}
.carrito{
  justify-content:center;
  
}
.menuMedio{
  justify-content: flex-end;
}

.productos {
  margin: 0;
  display: flex;
  flex-direction: row;
  text-align: center;
  border: 1px solid #111010;
  background: rgb(186, 182, 182);
  border-radius: 6px;
  transition: all 400ms ease;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  gap: 2rem;
}

.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.btn:hover {
  background: #08e171;
  color: #fff;
}

a {
  cursor: pointer;
  list-style: none;
  color: white;
}
.alerta {
  font-weight: 700;
}
body {
  background-color: #211f1f;
  overflow-x: hidden;
}
.modal-contenedor {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.img-carrito {
  width: 200px;
  padding: 20px;
}
.modal-content {
  background-color: #eadedc;
}
.parrafo {
  font-weight: 900;
  font-style: italic;
}
#precioTotal {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.boton {
  opacity: 0;
}
